<h2>誠摯邀請您加入2 Lines！</h2>

<div class="form-group">
您的email <br> <%= @email %>
</div>

<div class="form-group">
老婆的話 <br><%= @comment %>
</div>

<div class="form-group">
<%= link_to '2 Lines 註冊頁面', @url %>
</div>