<%= form_for(@prenatal) do |f| %>
  <% if @prenatal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prenatal.errors.count, "error") %> prohibited this prenatal from being saved:</h2>

      <ul>
      <% @prenatal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '確認送出' %>
  </div>
<% end %>
